.header__lang-link {
    margin: 0;
    font-family: 'Inter', serif;
    display: flex;
    gap: 18px;
    align-items: end;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    padding-left: 18px;
    padding-bottom: 6px;
    list-style: none;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;

    }
}



