.website__link {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.website__link:hover {
    cursor: url("../../../../../sprint-3-images/Imported Layers Copy 41.png"), pointer;
}

@media screen and (max-width: 320px) {
    .website__link {
        padding-top: 12px;

    }
}