.place__paragraphs {
    margin: 0;
    grid-area: paragraph;
    object-fit: cover;
    max-width: 100%;
    /*min-height: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 26px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        text-align: left;
        max-width: 352px;
        font-size: 16px;
        gap: 25px;
        padding-top: 48px;

    }
}

@media screen and (max-width: 320px) {
    .place__paragraphs {
        max-width: calc(100% - 16px*2);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-top: 0;
    }
}