.place {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: 1fr 460px;
    grid-template-areas:
    "title website"
    "image paragraph";
    align-items: start;
    justify-items: start;
    row-gap: 48px;
    column-gap: 40px;
    padding-bottom: 80px;
}


@media screen and (max-width: 1024px) {
    .place {
        max-width: 100%;
        grid-template-columns: 440px 1fr;
        grid-template-rows: 1fr min-content;
        column-gap: 32px;
        align-items: start;

    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 100%;
        box-sizing: border-box;
        grid-template-columns: 340px 352px;
        grid-template-rows: 10% 10% 80%;
        grid-template-areas:
        "title website"
        "title website"
        "image paragraph";
        row-gap: 0;
        column-gap: 28px;
        align-items: start;
        padding-bottom: 75px;

    }
    .place:nth-child(1) {
        grid-template-columns: 340px 352px;
        grid-template-rows: 46px 46px 80%;
        grid-template-areas:
        "title ."
        "title website"
        "image paragraph";
    }
   .place:nth-child(1) > .place__title {
       max-width: 50%;
   }
}


@media screen and (max-width: 320px) {
    .place {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 32px;
        align-items: end;
        padding-bottom: 0;

    }
}