.header {
    margin: 0 auto;
    padding-top: 28px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    max-width: calc(100% - 96px);
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        min-height: 52px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        min-height: 52px;

    }
}

@media screen and (max-width: 320px) {
    .header {
        align-items: center;
        max-width: 288px;
        min-height: 42px;
        padding-top: 16px;

    }
}

