.place__paragraphs {
    margin: 0;
    grid-area: paragraph;
    object-fit: cover;
    max-width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    align-self: start;

}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        text-align: left;
        max-width: 352px;
        font-size: 16px;
        gap: 25px;
        align-items: start;

    }
}

@media screen and (max-width: 320px) {
    .place__paragraphs {
        display: flex;
        flex-direction: column;
        gap: 25px;
        max-width: calc(100% - 16px*2);
        margin: 0 auto;
        align-self: end;

    }

}