.place__paragraph {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        align-self: start;
        padding-bottom: 26px;

    }
}


@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 100%;
        text-align: left;
        padding-bottom: 0;
        align-self: end;
    }

}

