.cover {
    margin: 0;
    max-width: calc(100% - 48px*2);
    padding: 12px 48px 0 48px;
    min-height: auto;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
        padding: 12px 0 0 0;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 100%;
        padding: 0 0 88px 0;
        height: auto;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 100%;
        padding: 55px 0 0 0;
        height: auto;

    }
}