.group-4 {
    object-fit: cover;
    max-width: 90%;
    padding: 90px 24px 262px 23px;

}


@media screen and (max-width: 1024px) {
    .group-4 {
        padding: 121px 53px 246px 39px;
    }
}


@media screen and (max-width: 768px) {
    .group-4 {
        padding: 100px 44px 204px 32px;
    }
}


@media screen and (max-width: 320px) {
    .group-4 {
        padding: 42px 18px 85px 13px;
    }
}