.website {
    object-fit: cover;
    grid-area: website;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    align-self: end;
}

@media screen and (max-width: 320px) {
    .website {
        max-width: 288px;
        min-height: 46px;
        align-self: start;
        padding-left: 16px;
    }
}